body{
    background-color: rgb(177, 255, 203);
}
header{
    background-color: rgb(168, 168, 245);
}
main{
    background-color: rgb(192, 133, 248);
}
section{
    background-color: rgb(255, 158, 158);
}
footer{
    background-color: rgb(255, 160, 92);
}